<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestion de telefonía</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Customers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PhoneNumber">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Phone Numbers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Reports">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
      
    </nav>
</div>

